body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Стилі для заголовка */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Стилі для форми пошуку */
.search-form {
  text-align: center;
  margin: 20px auto;
}

.search-form input[type='text'] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-form button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Стилі для галереї зображень */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Стилі для кнопки "Load more" */
.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Приклад стилів для зображень (застосовувати за потреби) */
.gallery img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Приклад стилів для стану фокусу в полі вводу */
.search-form input[type='text']:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.hidden {
  display: none;
}
